.red {
  width: 150px;
  height: 150px;
  background-color: red;
}
.green {
  position: absolute;
  width: 80px;
  height: 90px;
  background-color: palegreen;
}

.blue {
  width: 100px;
  height: 100px;
  background-color: blue;
}
