.yellow {
  height: 150px;
  width: 150px;
  margin-top: 30px;
  background-color: yellow;
  animation-name: mayur;
  animation-duration: 1.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  /* animation-fill-mode: both; */
}
@keyframes mayur {
  from {
  }

  to {
    transform: rotate(360deg);
    margin-left: 600px;
  }
}
